* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    
}
body > * {
    display: flex;
}
h1, h2 {
    font-size: 1.2em;
    color: #e9e8e4;
    background-color: #173701;
}
button {
    background-color: #173701;
    color: #e9e8e4;
}
/* HEADER */
header {
    flex-direction: row-reverse;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color:rgba(233, 232, 228, 1);
}
nav {
    display: flex;
    justify-content: flex-end;
}
 nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #173701;
    height: 3.2em;
    width: 7.5em;
    margin: 0.05em;
    color: #e9e8e4;
 }
 .porftolio_nav {
     background-color: #5b7632;
 }
/* BANNER */
.banner {
    justify-content: center;
    background-image: url("../img/background.jpg"); 
    background-color: #e9e8e4; 
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 8.5em;
    width: auto;
}
.banner h1{
    flex-basis: 18em;
    padding: 0.2em;
}
/* CALL TO ACTION */
.call-to-action {
    justify-content: center;
    align-content: space-around;
    background-color: #173701;
}
h2 {
    text-align: center;
}

/* DEV PATH */

.dev-path-container {
    background-color: #5b7632;
    width: 50em;
    display: flex;
    justify-content: center;
}
.dev-path{
    display: flex;
    justify-content: center;
    background-color: #5b7632;
}
.dev-path .dev-path-container div h3{
    color: #e9e8e4;
}
.dev-path .dev-path-container div{
    margin: 1em;
}

/* MY SKILLS */
.my-skills {
    flex-direction: column;
    align-items: center;
    background-color: #e9e8e4;
}
.my-skills h2 {
    color: #5b7632;
    background-color: #e9e8e4;
}
/* MY PORTFOLIO */
.project-containers {
    flex-direction: column;
    background-color: #5b7632;
}
.project-containers > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.project, .final-project {
    background-color: #e9e8e4;
    display: flex;
    flex-direction: column;
}
.project-containers > h2 {
    background-color: #5b7632;
}
.project-description, .project img, .final-project img {
    background-color: #173701;
    color: #e9e8e4;
    width: 258px;
    height: 101px;
}
/* ABOUT ME */
.about-me-container {
    flex-direction: column;
    align-items: center;
    background-color: #e9e8e4;
    
}
.about-me-container h2 {
    background-color: #e9e8e4;
    color: #5b7632;
}
.button-text-image, .button-and-text{
    display: flex;
}
.button-and-text {
    flex-direction: column;
    align-items: ;
    height: auto;
    flex-grow: 1;
    max-width: 50%;
}
.button-text-image image {
    flex-grow: 1;
}
.button-text-image {
    justify-content: space-between;
    /* margin: 0 10em; */

}
/* FIND ME HERE */
.find-me-here {
    align-items: center;
    flex-direction: column;
    background-color: #5b7632;
}
.find-me-here a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b7632;
    color: #e9e8e4;
    height: 3.2em;
    width: 7.5em;
    margin: 0.05em;
    
 }
.find-me-here h2 {
     display: flex;
     flex-direction: row;
     background-color: #5b7632;
 }
.find-me-here-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}
/* CONTACT ME */
.contact-me-section {
    flex-direction: column;
    background-color: #e9e8e4;
}
.contact-me-section > h2 {
    background-color: #e9e8e4;
    color: #5b7632;
}
.contact-me-section > input {
    background-color: #173701;
    color: #e9e8e4;
}
form > div {
    display: flex;
    justify-content: center ;
}
input {
    margin: 0 1.5em;
}
/* FOOTER */
footer {
    flex-direction: column;
    align-items: center;
    background-color: #5b7632;
    color: #e9e8e4;
}
.icon-row_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%
}