
@import 'colors.scss';

// Imports end
* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    // display: flex;
    flex-direction: column;
    background-color:$offColor;
}
.content h1,.content h2 {
    font-size: 2.5em;
    margin: 0; 
    text-align: center;
    color: $offColor;
    background-color: $maincolor;
}
button {
    background-color: $maincolor;
    color: $offColor;
}
/* HEADER */
header{

    position: sticky;
    top: 0;
    z-index: 1;
    .nav-logo-container{
        display: flex;
        justify-content: space-between;
        background-color:rgba(233, 232, 228, 1);
        
            nav {
                display: flex;
                
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $maincolor;
                    height: 3.2em;
                    width: 20%;
                    min-width: 4em;
                    margin:  0 auto;
                    color: $offColor;
                    text-decoration: none;
                }
                nav, a {
                    opacity: 1;
                }
            }
}
    
}
.logo {
    margin: 0;
    height: 4.5em;
}
.header-logo-container {
    position: sticky;
    display: flex;
    justify-content: space-between;
}
.porftolio_nav {
    background-color: $secondaryColor;
}
/* BANNER */
.banner {
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url("/img/background.jpg"); 
    background-color: $offColor; 
    background-position: bottom center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 38.125em;
    display: flex;
    h1 {
        flex-basis: 18em;
        padding: 0.2em;
        position: relative;
        bottom: 6em;
        font-size: 1.5em;
        text-align: center;
    }
}   
/* CALL TO ACTION */
.call-to-action {
    justify-content: center;
    align-content: space-around;
    background-color: $maincolor;

    h2 {
        text-align: center;
        font-weight: 100;
        font-size: 120%;
        span {
            font-weight: 500;
        }
    }
}
/* DEV PATH */

.dev-path-container {
    background-color: $secondaryColor;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    @media screen and (min-width: 426px) {
        flex-wrap: nowrap;
        width: 50em;
    }
}
.dev-path{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 426px) {
        flex-direction: row;
    }
    justify-content: center;
    background-color: $secondaryColor;
    .dev-path-container div {
        margin: 1em;
        @media screen and (min-width: 426px) {
            flex-basis: 25%;
        } 
        h3 {
            color: $offColor;
            font-size: 2em;
        }
    }
}
/* MY SKILLS */
.my-skills {
    flex-direction: column;
    align-items: center;
    background-color: $offColor;
    .skills-percentage {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .skill-bar {
            border: solid $secondaryColor 0.1em;
            background-color: $maincolor;
            min-width: 80%;
            height: 1.8em;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2%;
            .skill-label {
                background-color: $secondaryColor;
                margin: 0;
                color: $offColor;
                min-width: 15%;
                font-size: 120%;
            
            }
            .skill-percentage {
                font-size: 120%;
                background-color: $offColor;
                margin: 0;
                text-align: end;
                padding-right: 0.2em;
            }
            .eighty {
                min-width: 15%;
            }
            .seventy {
                min-width: 20%;
            }
            .sixty {
                min-width: 30%;
            }
            .fifty {
                min-width: 40%;
            }
        }
    }
}
/* MY PORTFOLIO */
.my-portfolio-h2{
    width: 100%;
}
.portfolio {
    background-color: $secondaryColor;
}
.card {
    margin: 0.5em;
    background-color: $maincolor !important;
    .card-body{
        background-color: $offColor;
    }
}


/* ABOUT ME */
.about-me-container {
    flex-direction: column;
    align-items: center;
    background-color: $offColor;
    .button-text-image {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            width: 300px;
            height: 300px;
        }
        p {
            width: 30vw
        }
        }
        .button-and-text {
            display: flex;
            flex-direction: column;
            height: auto;
            max-width: 20%;
            
        } 
    }

/* FIND ME HERE */
.find-me-here {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $secondaryColor;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondaryColor;
        color: $offColor;
        height: 3.2em;
        width: 7.5em;
        margin: 0.05em;
        
    }
    h2 {
        display: flex;
        flex-direction: row;
        background-color: $secondaryColor;
    }
}


.find-me-here-links {
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    a { 
        padding: 25%;
        margin: 5%;
        img {
        // border-radius: 100%;
        // background-color: $offColor;
        height: 6.250em;
        width: 6.250em;
        }
    }
}

/* CONTACT ME */
.contact-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $offColor;
    & > h2 {
        background-color: $offColor;
        color: $secondaryColor;
    }
    & > input {
        background-color: $maincolor;
        color: $offColor;
        max-width: 20vw;
        margin: 1em;
    }
}
form > div {
    display: flex;
    justify-content: center ;

    .submit {
        display: flex;
    }
}
input {
    margin: 1em !important;
    padding: 0.7em !important;
    background-color: $secondaryColor;

    ::placeholder {
        color: $offColor !important;
    }
}
/* FOOTER */
footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    background-color: $secondaryColor;
    color: $offColor;
}
.icon-row_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}
.text-button_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 50%;
    }
}



// hover animations
.hvr-sweep-to-top {
    display: flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}