
@import 'colors.scss';

// Imports end
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color:$offColor;
    body > * {
        display: flex;
}
}
h1, h2 {
    font-size: 2.5em;
    text-align: center;
    color: $offColor;
    background-color: $maincolor;
}
button {
    background-color: $maincolor;
    color: $offColor;
}
/* HEADER */
header {
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color:rgba(233, 232, 228, 0);
    z-index: 1;
    nav {
        display: flex;
        justify-content: flex-end;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $maincolor;
            height: 3.2em;
            width: 7.5em;
            margin: 0.05em;
            color: $offColor;
        }
        nav, a {
            opacity: 1;
        }
    }
}
.logo {
    margin: 0;
}
.header-logo-container {
    position: sticky;
    display: flex;
    justify-content: space-between;
}
 .porftolio_nav {
     background-color: $secondaryColor;
 }
/* BANNER */
.banner {
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/background.jpg"); 
    background-color: $offColor; 
    background-position: bottom center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 38.125em;
    display: flex;
    h1 {
        flex-basis: 18em;
        padding: 0.2em;
        position: relative;
        bottom: 6em;
        font-size: 1.5em;
        text-align: center;
    }
}   
/* CALL TO ACTION */
.call-to-action {
    justify-content: center;
    align-content: space-around;
    background-color: $maincolor;
    h2 {
        text-align: center;
        font-weight: 100;
        font-size: 120%;
        span {
            font-weight: 500;
        }
    }
}
/* DEV PATH */

.dev-path-container {
    background-color: $secondaryColor;
    width: 50em;
    display: flex;
    justify-content: center;
}
.dev-path{
    display: flex;
    justify-content: center;
    background-color: $secondaryColor;
    .dev-path-container div {
        margin: 1em;
        h3 {
            color: $offColor;
            font-size: 2em;
        }
    }
}
/* MY SKILLS */
.my-skills {
    flex-direction: column;
    align-items: center;
    background-color: $offColor;
    h2 {
        color: $secondaryColor;
        background-color: $offColor;
    }
}
/* MY PORTFOLIO */
.project-containers {
    flex-direction: column;
    background-color: $secondaryColor;
    & > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    & > h2 {
        background-color: $secondaryColor;
        text-align: center;

    }
    .project-description_windows {
        display: flex;
        flex-flow: row  wrap;
        justify-content: center;
        margin: 1%;
            .project, .final-project {
                background-color: $offColor;
                display: flex;
                flex-direction: column;
                padding: 1em;
                margin:  2%;
                max-width: 28%;
                img {
                    background-color: $maincolor;
                }
            }
    }
}


.project-description, .project-img, .final-project img {
    background-color: $maincolor;
    color: $offColor;
    
}
.explore-button {
    padding: 0;
    
}
/* ABOUT ME */
.about-me-container {
    flex-direction: column;
    align-items: center;
    background-color: $offColor;
    h2 {
        background-color: $offColor;
        color: $secondaryColor;
    }
}
.button-text-image {
    display: flex;
    justify-content: stretch;
    image {
        flex-grow: 1;
    }
    .button-and-text {
        display: flex;
        flex-direction: column;
        height: auto;
        max-width: 50%;
        margin: 0 auto;
        button {
            max-width: 20vw;
            align-self: center;
            padding: 0.7em;
        }
    } 
}
/* FIND ME HERE */
.find-me-here {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $secondaryColor;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondaryColor;
        color: $offColor;
        height: 3.2em;
        width: 7.5em;
        margin: 0.05em;
        
     }
     h2 {
        display: flex;
        flex-direction: row;
        background-color: $secondaryColor;
    }
}

.find-me-here-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}
/* CONTACT ME */
.contact-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $offColor;
    & > h2 {
        background-color: $offColor;
        color: $secondaryColor;
    }
    & > input {
        background-color: $maincolor;
        color: $offColor;
        max-width: 20vw;
        margin: 1em;
    }
}
form > div {
    display: flex;
    justify-content: center ;
}
input {
    margin: 0.5em;
}
/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondaryColor;
    color: $offColor;
}
.icon-row_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}